<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Properties>
        <Property name="log-path">C:/logs/</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile" fileName="/var/log/tomcat8/forexmqadapter/myexample.log"
                     filePattern="myexample-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate.SQL" level="error" />
        <!-- Log all JDBC parameters -->
        <Logger name="org.hibernate.type" level="error" />
        <!-- Log all SQL DDL statements as they are executed -->
        <Logger name="org.hibernate.tool.hbm2ddl" level="error" />
        <!-- Log the state of all entities (max 20 entities) associated with the session at flush time -->
        <Logger name="org.hibernate.pretty" level="error" />
        <!-- Log all second-level cache activity -->
        <Logger name="org.hibernate.cache" level="error" />
        <!-- Log transaction related activity -->
        <Logger name="org.hibernate.transaction" level="error" />
        <!-- Log all JDBC resource acquisition -->
        <Logger name="org.hibernate.jdbc" level="error" />
        <!-- Log HQL and SQL ASTs during query parsing -->
        <Logger name="org.hibernate.hql.ast.AST" level="error" />
        <!-- Log all JAAS authorization requests -->
        <Logger name="org.hibernate.secure" level="error" />
        <!-- Log everything (a lot of information, but very useful for troubleshooting) -->
        <Logger name="org.hibernate" level="error" />
        <Logger name = "org.springframework.boot.logging.ClasspathLoggingApplicationListener" level="debug" additivity ="false">
            <appender-ref ref="RollingFile" level="debug"/>
        </Logger>
        <logger name="org.hibernate">
            <level value="error" />
        </logger>
        <Logger name="root" level="info" additivity="false">
            <appender-ref ref="RollingFile" level="debug"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>